<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.phongle.danangtravel">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".DanangTravelApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".activity.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.list.ListAttractionActivity" />
        <activity android:name=".activity.list.ListRestaurantActivity" />
        <activity android:name=".activity.list.ListHotelActivity" />
        <activity android:name=".activity.detail.DetailPlaceActivity" />
        <activity android:name=".activity.login.LoginActivity" />
        <activity android:name=".activity.aroundhere.ListPlaceAroundActivity" />
        <activity android:name=".activity.aroundhere.ListPlaceAroundEventActivity" />
        <activity android:name=".activity.detail.DetailEventActivity" />
        <activity android:name=".activity.event.ListEventActivity" />
        <activity android:name=".activity.profile.ProfileActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAqpVJF-vwQG9s2rxs8UUc61wTdIHPP8AU" />
    </application>
</manifest>